{% extends "accounts/main.html" %}

{% block content%}


<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Transactions</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Customers</th>
                    <th>Balance</th>
                </tr>
                {% for i in profile %}
                <tr>
                <td>{{i.name}}</td>
                {% for a in account %}
                <td>{{a.balance}}</td>
                {% endfor %}
                </tr>
                {% endfor %}
                
            </table>
        </div>

    </div>

{% endblock %}
